/*
 * @Author      : Mr.bin
 * @Date        : 2021-09-11 10:28:53
 * @LastEditTime: 2021-09-14 11:42:02
 * @Description : 全局CSS样式类
 */

// 阿里巴巴iconfont图标全局设置（当用到彩色图标时起作用）
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
